/* Main Containers */
.main-checkout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 90px;
  position: relative;
  height: 80vh;
}

.checkout-info-container {
  padding-top: 40px;
  width: 70%;
}

.total-container {
  margin-bottom: 40px;
}

.user-information-container h1{
margin-bottom: 30px;
}