/* Global */
input {
    outline: none;
}

/* Variables */
:root {
    --main-darkgray-color: #111111;
    --main-gray-color: rgb(129, 129, 129);
    --main-color-lightgray: #C0C0CC;
}

/* Text */
.login-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.lbl-input {
    color: var(--main-gray-color);
}

.link-forgot, .link-register {
    color: blue;
}

.link-register {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Containers */
.main-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 70vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--main-darkgray-color);
}

.form-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.pw-input-container {
    display: flex;
    justify-content: space-between;
}

/* Inputs */
.input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 12px;
}

/* Buttons */
.button-login {
    padding: 14px 0px;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--main-darkgray-color);
    cursor: pointer;
    width: 100%;
}

.button-login:hover {
    background-color: var(--main-darkgray-color);
    border: 1px solid rgba(0,0,0,0);
    color: white;
}