/* Contact Containers */
.form-container {
    width: 50%;
}

.contact-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 40px;
}

.input {
    width: 100%;
}

.description-input {
    height: 100px;
    resize: none;
}

.btn-submit {
    padding: 14px 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--main-darkgray-color);
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom: 40px
}

.btn-submit:hover {
    background-color: var(--main-darkgray-color);
    border: 1px solid rgba(0,0,0,0);
    color: white;
}