<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp Land | Change Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/loginpage/forgotpassword.css">
</head>
<body>
    <div class="change-container">
        <h1 class="title">Reset Password</h1>
        <form action="/auth/login" class="form change-form" method="POST">
            <div class="inputs-container">
                <div class="lbl-container">
                    <label for="username" class="lbl-title">Email:</label>
                </div>
                <input type="email" name="email" id="email-input" class="user-input" placeholder="youremail@example.com" required>
                <button type="submit" class="submit">Get code</button>
            </div>
        </form>

        <div class="alternatives-container">
            <a href="/auth/login" class="login-link alternative">Login</a>
        </div>
    </div>
</body>
</html>