<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homepage/home.css">
    <title>MERN Stack | Home</title>
</head>
<body>
    <!-- Render Nav Component -->

    <!-- Header Section Markup -->
    

    <!-- Next section markup -->
    <section class="home-subsection-container">
        
    </section>

</body>
</html>