<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homepage/home.css">
    <title>MERN Stack | Home</title>
</head>
<body>
    <!-- Render Nav Component -->

    <!-- Header Section Markup -->
    <section class="header-container">
        <div class="title-container">
            <h2 class="title">New Tech Developments</h2>
            <p class="title-description">Where new technologies and breakthroughs are being made</p>
        </div>

        <div class="shop-container">
            <div class="dscriptions-container">
                <h3 class="shop-description">Find what you need here</h3>
                <h3 class="learn-description">Not sure who we are?</h3>
            </div>
        
            <div class="shop-btns-container">
                <button class="btn-shop" href="/shop/products">Shop here</button>
                <button class="btn-learn" href="/about">Learn More</button>
            </div>
        </div>
    </section>

    <!-- Next section markup -->
    <section class="home-subsection-container">
        
    </section>

</body>
</html>