<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp Land | Register</title>
    <link rel="stylesheet" href="/styles/loginpage/register.css">
</head>
<body>
    <div class="register-container">
        <h1 class="title">Sign Up</h1>
        <form action="/user/:id" class="form-container" method="POST">
            <div class="inputs-container">
                <div class="lbl-container">
                    <label for="username" class="lbl-title">Username:</label>
                </div>
                <input type="text" class="user-input" placeholder="johnny123" required>
                <div class="lbl-container">
                    <label for="email" class="lbl-title">Email:</label>
                </div>
                <input type="email" class="user-input" placeholder="example@gmail.com" required>
                <div class="lbl-container">
                    <label for="password" class="lbl-title">Password:</label>
                </div>
                <input type="password" class="user-input" placeholder="password" required>
                <button class="submit" type="submit">Sign up</button>
            </div>
        </form>

        <div class="alternatives-container">
            <a href="/auth/login" class="alternative">Login</a>
        </div>
    </div>
</body>
</html>